services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: cinema-bi-app
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: mysql:8.4
    container_name: cinema-bi-db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: cinema_dev
      MYSQL_USER: app
      MYSQL_PASSWORD: app
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - mysql_dev:/var/lib/mysql

volumes:
  mysql_dev:
